.home_container {
  display: flex;
  padding-top: 100px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(53, 57, 83, 0.52),
      rgba(21, 23, 56, 0.52)
    ),
    url("https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-left: 20px;
  padding-top: 120px;
}
.home_title {
  display: flex;
  justify-content: center;
  position: static;
  width: 97vw;
  font-size: 92px;
  font-weight: bold;
  margin-top: -150px;
}
.home_name {
  font-size: 36px;
}
.home_subtitle {
  display: flex;
  justify-content: center;
  margin-top: -75px;
  height: 150px;
}
.home_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.typewritter {
  display: flex;
  justify-content: center;
  color: orange;
  font-size: 52px;
  margin-left: 15px;
}
.button_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button-11 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  color: white;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: rgb(28, 136, 236);
  cursor: pointer;
  font-size: 22px;
}

.button-11:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

@media screen and (max-width: 1024px) {
  .home_subtitle {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .home_title {
    font-size: 72px;
  }
  .home_name {
    font-size: 24px;
  }
  .typewritter {
    font-size: 36px;
    margin: 0;
  }
}
@media screen and (max-width: 720px) {
  .home_container {
    display: flex;
    flex-direction: column;
    padding-top: 400px;
    padding-left: 0;
    text-align: center;
    height: 300px;
  }
  .home_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
  }
  .home_subtitle {
    margin-top: 0;
  }
  .typewritter {
    font-size: 36px;
  }
  .button-11{
    font-size: 18px;
    width: 200px;
  }
}
