.home_container {
  display: flex;
  padding-top: 100px;
  justify-content: space-evenly;

  height: 500px;
  background-color: #101010;
  color: white;
  padding-left: 20px;

}
.home_subtitle {
  padding-left: 60px;
}
.home_body {

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home_image {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.profile_pic {
  height: 450px;
  width: 450px;
}
