.nav_container1 {
  display: flex;
  align-items: center;
  background-color: #101010;
  height: 75px;
  color: white;
  position: fixed;
  padding-left: 40px;
}
.nav_container2 {
  display: flex;
  align-items: center;
  background-color: #191919;
  height: 50px;
  color: white;
  position: fixed;
  /* opacity: 0.7; */
  font-size: 18px;
  height: 60px;
  padding-left: 40px;
}

.logo {
  margin-left: 20px;
  padding-right: 20px;
}
.nav_bar1 {
  display: flex;
  justify-content: flex-start;
  margin-right: 20px;
  width: 100vw;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.nav_bar2 {
  display: flex;
  justify-content: flex-start;
  margin-right: 20px;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.nav_link {
  margin-right: 30px;
  color: white;
}
a:visited {
  color: white;
}

a {
  text-decoration: none;
}
.home_style {
  color: red !important;
  font-weight: bold;
  border-bottom: 2px solid red;
  padding-bottom: 5px;
}
.about_style {
  color: red !important;
  font-weight: bold;
  border-bottom: 2px solid red;
  padding-bottom: 5px;
}
.project_style {
  color: red !important;
  font-weight: bold;
  border-bottom: 2px solid red;
  padding-bottom: 5px;
}
.contact_style {
  color: red !important;
  font-weight: bold;
  border-bottom: 2px solid red;
  padding-bottom: 5px;
}
