.project_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  background-color: #101010;
  color: white;
  padding-top: 45px;
}
.project_display_conatainer {
  display: flex;
  margin-top: 50px;
  grid-gap: 200px;
}
.project_image {
  height: 250px;
  width: auto;
}
.project_boxes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 250px;
  width: 250px;
  /* border: 3px solid white; */
  flex-direction: column;
  cursor: pointer;
}

.project_title {
  display: flex;
  margin: auto;
  visibility: hidden;
  opacity: 0;
}

.project_subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
  cursor: pointer;
  width: 135px;
  height: 50px;
  color: white;
}

.project_subtitle:visited {
  color: white;
  text-decoration: none;
}
