.project_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  background-color: #101010;
  color: white;
  padding-top: 45px;
}
.all_project_container {
  display: flex;
  grid-gap: 120px;
  padding-top: 75px;
}
.project_display_conatainer {
  display: flex;
  flex-direction: column;
}
.project_name {
  text-align: center;
}
.project_image {
  display: block;
  height: 250px;
  width: auto;
}

.project_subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
  cursor: pointer;
  width: 135px;
  height: 50px;
  color: white;
}

.project_links {
  display: flex;
  padding-left: 20px;
}

.img_wrap {
  position: relative;
}

.img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
}

.img_overlay:hover {
  opacity: 1;
}
.img_overlay:hover > * {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.img_overlay > * {
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transition: transform 0.25s;
  -webkit-transition: transform 0.25s;
  -moz-transition: transform 0.25s;
  -ms-transition: transform 0.25s;
  -o-transition: transform 0.25s;
}

.image_overlay_blur {
  backdrop-filter: blur(5px);
}

.img_title {
  font-size: 30px;
  font-weight: bold;
}
.img_description {
  font-size: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .project_image {
    margin-left: 100px;
    height: 150px;
    width: auto;
  }
  .project_subtitle {
    font-size: 14px;
  }
  .project_display_container {
    margin-left: -30px;
  }
}

@media screen and (max-width: 900px) {
  .project_image {
    margin-left: 50px;
    height: 150px;
    width: auto;
  }
  .project_subtitle {
    font-size: 14px;
  }
  .project_links {
    padding-left: 0px;
    margin-left: -30px;
  }
  .project_container {
    height: 800px;
  }
  .all_project_container {
    display: flex;
    flex-direction: column;
  }
  .project_title {
    font-size: 16px;
    padding-left: 20px;
  }
  .project_display_container {
    margin-left: -30px;
  }
  .project_name {
    padding-left: 40px;
  }
  .img_title {
    font-size: 24px;
  }
}
