.technology_container {
  display: flex;
  flex-direction: column;
  background-color: #191919;
  padding-top: 45px;
}
.technology_title {
  display: flex;
  justify-content: center;
  color: white;
}
.logo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
}
.logo {
  display: flex;
  grid-gap: 100px;
}
.logo_box {
  
  text-align: center;
  height: 150px;
  width: 80px;
}
h4 {
  color: white;
}
img {
  height: 60px;
  width: auto;
}
.postgres_logo {
  background-color: #191919;
}

@media screen and (max-width: 1000px) {
  .logo_container {
    margin: 0px;
  }
}

@media screen and (max-width: 720px) {
  img {
    height: 50px;
    width: auto;
  }
  .logo_container {
    display: flex;
    justify-content: center;
    border-left: none;
  }

  .logo {
    grid-gap: 50px;
  }
}
